{font-family:sans-serif;}
xcope {border:1px solid green}
cue[type="negation"] { color:green; font-weight:bold}
cue[type="speculation"] { color:red; font-weight:bold}
Documento{color: black; font-size: 16pt; }

